body{
    margin: 0;
    padding: 0;
}

body a {
    text-decoration: none;
}

.btn-style{
    border-radius: 50px;
    border: 1px solid #2154AC;
    color: #2154AC;
}

.icon-style{
    color: #2154AC;
}

.homeMenuStye{
    color: #2154AC;
}

.navbar-font-size{
    font-size: 16px;
    font-weight: 500;
}

.courses-header{
    
    box-shadow:  5px 5px 15px #E5E5E5;
}

.title-style{
    color: #404040;
    font-weight: 400;
    font-size: 13px;
}
.title-icon-style{
    color: #404040;
    font-weight: 400;
    font-size: 8px;
}

.course-details-style{
    background-color: #F3F2F2;
    
    border-radius: 10px;
}

.course-title{
    font-size: 32px;
    font-weight: 700;
}

.university-title{
    font-size: 24px;
    font-weight: 700;
    color: #757575;
}

.detailed-info{
    background-color: #EDF5FD;
    border-radius: 10px;
    height: 200px;
}

.detailed-text-style{
    color: #757575;
    font-size: 24px;
    font-weight: bold;

    
}

.detailed-text-2-style{
    color: #757575;
    font-size: 18px;
    font-weight: 400;
}


/* 
.about-p-style{
    color: #2154AC;
    font-size: 28px;
    font-weight: 700;
}

 .inner-about-style{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;  
  background-color: #F3F2F2;
  
 
} */

.details-para-style{
    color: #757575;
    font-weight: 400;
    font-size: 18px;

}

.opportunity-style{
    background-color: #EDF5FD;
    font-size: 18px;
    font-weight: 700;
    color: #757575;
}

.para-bold{
    color: #757575;
    font-weight: 700;
    font-size: 18px;
}

.table-header{
    background-color: #EDF5FD;
    font-weight: 700;
    font-size: 18px;
    color: #757575;
}

.n1th-child{
    font-weight: 400;
    font-size: 16px;
    color: #757575;
    background-color: #FDFDFD;;
}
.n2th-child{
    font-weight: 400;
    font-size: 16px;
    color: #757575;
    background-color: #F8F8F8;
}

.table-info p {

    margin-bottom: 0;
}

.entry-p{
    font-weight: 700;
    color: #757575;
    font-size: 24px;
}

.entry-long-p{
    font-size: 18px;
    font-weight: 400;
    color: #757575;
}

.col-bg{
    background-color: #F8F8F8;
    border-radius: 5px;
    
}

.span-text-style{
    color: #757575;
    font-size: 18px;
    font-weight: 400;
}

.span-text-style-2{
    color: #757575;
    font-size: 16px;
    font-weight: 600;
}

.span-text-style-3{
    color: #757575;
    font-size: 24px;
    font-weight: 700;
}


.span-text-style-4{
    color: #2154AC;
    font-size: 18px;
    font-weight: 400;
    position: relative;
    top: 2px;
}
.span-text-style-5{
    color: #757575;
    font-size: 18px;
    font-weight: 700;
  
}

.span-text-style-6{
    color: #04A1E5;
    
    font-size: 18px;
    font-weight: 400;
}


.bg-images-1{
    background: url('./Assets/Images/Rectangle\ 1866uni1.svg');
    height: 250px;
   
 
   display: flex;
   align-items: flex-end;
   
    background-size: contain;
    background-repeat: no-repeat;
   
}
.bg-images-2{
    background: url('./Assets/Images/Rectangle\ 1867.svg');
    height: 250px;
   

   display: flex;
   align-items: flex-end;
   
    background-size: contain;
    background-repeat: no-repeat;
   
}
.bg-images-3{
    background: url('./Assets/Images/Rectangle\ 186868.svg');
    height: 250px;
   

   display: flex;
   align-items: flex-end;
   
    background-size: contain;
    background-repeat: no-repeat;
   
}
.bg-images-4{
    background: url('./Assets/Images/Rectangle\ 1869.svg');
    height: 250px;
   

   display: flex;
   align-items: flex-end;
   
    background-size: contain;
    background-repeat: no-repeat;
   
}
.bg-images-5{
    background: url('./Assets/Images/Rectangle\ 1870.svg');
    height: 250px;
   

   display: flex;
   align-items: flex-end;
   
    background-size: contain;
    background-repeat: no-repeat;
   
}
.bg-images-6{
    background: url('./Assets/Images/Rectangle\ 18711871.svg');
    height: 250px;
   

   display: flex;
   
   align-items: flex-end;
   
    background-size: contain;
    background-repeat: no-repeat;
   
}



.span-1-style{
    font-size: 14px;
    font-weight: 400;
    color: #FFFFFF;
}
.span-2-style{
    font-size: 14px;
    font-weight: 700;
    color: #FFFFFF;
}

.code-style{
    font-size: 18px;
    font-weight: bold;
    color: black;
}

.bg-div{
    background-color: #052D72;
}

.footer{
    margin-bottom: 20px;
}

.footer p{
    font-weight: 600;
    font-size: 18px;
    color: #FFFFFF;


}

.footer span{
    font-size: 14px;
    font-weight: 400;
    color: #B8B8B8;
    
}

.footer a {
    text-decoration: none;
}

.social-media-icons{
    position: relative;
    margin-left: -10px;
    display: flex;
    flex-wrap: wrap;

}

.copyright-bg{
    background-color: #0D1766;
}

.copyright-p{
    font-size: 18px;
    font-weight: 500;
    color: #FFFFFF;
    margin-bottom: 0;
}
.copyright-a{
    font-size: 18px;
    font-weight: 500;
    color: #FFFFFF;
    text-decoration: none;
}

.copy-div-1{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.copy-div-2{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.copy-div-2 a:hover{
   color: #FFFFFF;
}


/* accordion style */

.accordion .accordion-item .accordion-header .accordion-button{
    color: #2154AC;
  font-size: 28px;
  font-weight: 700; 
  background-color:  #F3F2F2;



}

.accordion .accordion-item .accordion-header .accordion-button.collapsed::after {


  background: url("/Assets/Images/Group\ 260plus.png");
  background-size: cover;


}

.accordion .accordion-item .accordion-header .accordion-button:not(.collapsed)::after {

 

  background: url("/Assets/Images/Rectangle\ 1844.jpg");
  width: 20px;
  height: 5px;


}

.accordion .accordion-item .accordion-header .accordion-button:focus {
  box-shadow: none;
  border-color: rgba(0,0,0,.125);
}


.accordion .accordion-item .accordion-header .accordion-button:not(.collapsed){
  box-shadow: none;
}

/* accordion style end */

@media only screen and (max-width: 576px) {

    .bg-div{
        text-align: center;
    }

    .social-media-icons{
        display: flex;
        justify-content: center;
    }
    
    .copy-div-1{
        display: flex;
        justify-content: center;
    }
    
    .copyright-p{
        font-size: 13px;
        
    }
    .copyright-a{
        font-size: 13px;
       
    }

}



@media only screen and (max-width: 1199px) {

  
    .bg-images-1{
        background: url('./Assets/Images/Rectangle\ 1866uni1.svg');
       
       height: 200px;
   
       
    }
    .bg-images-2{
        background: url('./Assets/Images/Rectangle\ 1867.svg');
       
       height: 200px;
 
       
    }
    .bg-images-3{
        background: url('./Assets/Images/Rectangle\ 186868.svg');
       
       height: 200px;
     
       
    }
    .bg-images-4{
        background: url('./Assets/Images/Rectangle\ 1869.svg');
       
       height: 200px;
     
       
    }
    .bg-images-5{
        background: url('./Assets/Images/Rectangle\ 1870.svg');
       
       height: 200px;
    
       
    }
    .bg-images-6{
        background: url('./Assets/Images/Rectangle\ 18711871.svg');
       
       height: 200px;
     
       
    }
       
     
   
     } 
@media only screen and (max-width: 1399px) {

  
    .bg-images-1{
       
       
       height: 210px;
   
       
    }
    .bg-images-2{
        
       
       height: 210px;
 
       
    }
    .bg-images-3{
      
       
       height: 210px;
     
       
    }
    .bg-images-4{
        
       
       height: 210px;
     
       
    }
    .bg-images-5{
       
       
       height: 210px;
    
       
    }
    .bg-images-6{
        
       
       height: 210px;
     
       
    }
       
     
   
     } 


