body{
    margin: 0;
    padding: 0;
}

.btn-style{
    border-radius: 50px;
    border: 1px solid #2154AC;
    color: #2154AC;
}

.icon-style{
    color: #2154AC;
}

.homeMenuStye{
    color: #2154AC;
}

.navbar-font-size{
    font-size: 16px;
    font-weight: 500;
}

.logo-bg{
    background-color: #2154AC;
}



.logo-title{
    color: #FFFFFF;
    font-size: 40px;
    font-weight: 400;
}

.img-position{
    position: relative;
    left: 10px;
    bottom: 5px;
}

.location-title{
    font-size: 25px;
    color: #FFFFFF;
    font-weight: 400;
    position: relative;
    top: 5px;
    left: 8px;
}


.about-bg-style{
    background-color: #2154AC;
}

.about-bg-style span{
    color: #FFFFFF;
    font-size: 24px;
    font-weight: 600;
    
}
.about-bg-style a{
   text-decoration: none;
    
}

.about-bg-style-2{
    background-color: #EAEBEF;

}

.about-bg-style-2 span{
    color: #2F414D;
    font-size: 24px;
    font-weight: 600;
    
}
.about-bg-style-2 a{
   text-decoration: none;
    
}

.logo-width{
    width: 60%;
}

.about-info-span{
    color: #484848;
    font-size: 28px;
   
    font-weight: 700;
}
.about-infos-span{
    color: #484848;
    font-size: 18px;
    font-weight: 400;
    
}

.about-info-2{
    background-color: #F0F0F0;
    border-radius: 10px;
    
}

.about-info-2 span{
    font-weight: 500;
    font-size: 24px;
    color: #484848;

}

.w-custom{
    width: 97%;
}

.w2-custom{
    width: 92%;
}

.custom-placement-1{
    background: url('/Assets/Images/Rectanglebg.svg');
   
    width: 160px;
   
    display: flex;
    justify-content: center;
   height: 200px;
   align-items: center;
    text-align: center;
   
   
   
}
.custom-placement-2{
    background: url('/Assets/Images/Rectanglered.svg');
   
    width: 160px;
   
    display: flex;
    justify-content: center;
   height: 200px;
   align-items: center;
    text-align: center;
   
   
   
}

.custom-placement-1 span{
    font-size: 15px;
    font-weight: 400;
    color: #757575;
    
}

.custom-placement-1 p{

    font-size: 15px;
    font-weight: bold;
    color: #757575;
    position: relative;
    top: -5px;
   
    
}

.custom-placement-2 span{
    font-size: 15px;
    font-weight: 400;
    color: #757575;
    
}

.-position{
    position: relative;
    bottom: 200px;
}

/* accordion style */

.accordion .accordion-item .accordion-header .accordion-button{
      color: #404040;
    font-size: 28px;
    font-weight: 400; 
    background-color:  #F3F2F2;
  


}

.accordion .accordion-item .accordion-header .accordion-button.collapsed::after {

 
    background: url("/Assets/Images/Group\ 260plus.png");
    background-size: cover;

  
  }
  
  .accordion .accordion-item .accordion-header .accordion-button:not(.collapsed)::after {
  
   
  
    background: url("/Assets/Images/Rectangle\ 1844.jpg");
    width: 20px;
    height: 5px;

  
  }

  .accordion .accordion-item .accordion-header .accordion-button:focus {
    box-shadow: none;
    border-color: rgba(0,0,0,.125);
}


.accordion .accordion-item .accordion-header .accordion-button:not(.collapsed){
    box-shadow: none;
}

  /* accordion style end */

  .about-p-style{
    color: #404040;
    font-size: 28px;
    font-weight: 400;
}

.inner-about-style{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;  
    background-color: #FFFFFF;
    border: 1px solid #F3F2F2;
    
   
  }
 
  .plus-icon-style{
    color: #E5E5E5;
    font-size: 40px;
    font-weight: 700;

  }

  
.bg-div{
    background-color: #052D72;
}

.footer{
    margin-bottom: 20px;
}

.footer p{
    font-weight: 600;
    font-size: 18px;
    color: #FFFFFF;


}

.footer span{
    font-size: 14px;
    font-weight: 400;
    color: #B8B8B8;
    
}

.footer a {
    text-decoration: none;
}

.social-media-icons{
    position: relative;
    margin-left: -10px;
    display: flex;
    flex-wrap: wrap;
  

}

.copyright-bg{
    background-color: #0D1766;
}

.copyright-p{
    font-size: 18px;
    font-weight: 500;
    color: #FFFFFF;
    margin-bottom: 0;
}
.copyright-a{
    font-size: 18px;
    font-weight: 500;
    color: #FFFFFF;
    text-decoration: none;
}

.copy-div-1{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.copy-div-2{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
  
.copy-div-2 a:hover{
    color: #FFFFFF;
}

.subject-style{
    font-size: 24px;
    color: #404040;
}

.subject-details-1{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.subject-details-2{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.apply-btn-style{
    border: 0;
    border-radius: 5px;
    background-color: #04A1E5;
    color: white;
    width: 110px;
    height: 48px;
}
.apply-btn-style-2{
    border: 0;
    border-radius: 5px;
    background-color: #B8B9BA;;
    color: white;
    width: 110px;
    height: 48px;
}
.details-btn-style{
    border: 1px solid #04A1E5;
    border-radius: 5px;
    background-color: white;
 
    color: #04A1E5;
    width: 110px;
    height: 48px;
}
.details-btn-style-2{
    border: 1px solid #B8B9BA;
    border-radius: 5px;
    background-color: white;
 
    color: #404040;
    width: 110px;
    height: 48px;
}

.course-cost-style-top{
    font-size: 18px;
    color: #404040
}
  
.course-cost-style{
    font-size: 18px;
    color: #757575;
}

.computing-span{
    color: #404040;
    font-weight: 400;
    font-size: 28px;
   
}


@media only screen and (max-width: 576px) {


    .social-media-icons{
        justify-content: center;
    }
  
    
    .bg-div{
        text-align: center;
    }

    
.copy-div-1{
    display: flex;
    justify-content: center;
}

.copyright-p{
    font-size: 13px;
    
}
.copyright-a{
    font-size: 13px;
   
}

}

@media only screen and (max-width: 768px) {


    .copyright-p{
        font-size: 16px;
        
    }
    .copyright-a{
        font-size: 16px;
       
    }
   

}