body{
    margin: 0;
    padding: 0;
}

.bg-div{
    background-color: #052D72;
}

.footer{
    margin-bottom: 20px;
}

.footer p{
    font-weight: 600;
    font-size: 18px;
    color: #FFFFFF;


}

.footer span{
    font-size: 14px;
    font-weight: 400;
    color: #B8B8B8;
    
}

.footer a {
    text-decoration: none;
}

.social-media-icons{
    position: relative;
    margin-left: -10px;
    display: flex;
    flex-wrap: wrap;

}

.copyright-bg{
    background-color: #0D1766;
}

.copyright-p{
    font-size: 18px;
    font-weight: 500;
    color: #FFFFFF;
    margin-bottom: 0;
}
.copyright-a{
    font-size: 18px;
    font-weight: 500;
    color: #FFFFFF;
    text-decoration: none;
}

.copy-div-1{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.copy-div-2{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}