body{
    margin: 0;
    padding: 0;
}

.homeMenuStye{
    color: #2154AC;
}

.navbar-font-size{
    font-size: 16px;
    font-weight: 500;
}

.btn-style{
    border-radius: 50px;
    border: 1px solid #2154AC;
    color: #2154AC;
 
}

.icon-style{
    color: #2154AC;
}

