body{
    margin: 0;
    padding: 0;
}

.btn-style{
    border-radius: 50px;
    border: 1px solid #2154AC;
    color: #2154AC;
}

.icon-style{
    color: #2154AC;
}

.homeMenuStye{
    color: #2154AC;
}

.navbar-font-size{
    font-size: 16px;
    font-weight: 500;
}


  
.bg-div{
    background-color: #052D72;
}

.footer{
    margin-bottom: 20px;
}

.footer p{
    font-weight: 600;
    font-size: 18px;
    color: #FFFFFF;


}

.footer span{
    font-size: 14px;
    font-weight: 400;
    color: #B8B8B8;
    
}

.footer a {
    text-decoration: none;
}

.social-media-icons{
    position: relative;
    margin-left: -10px;
    display: flex;
    flex-wrap: wrap;
  

}

.copyright-bg{
    background-color: #0D1766;
}

.copyright-p{
    font-size: 18px;
    font-weight: 500;
    color: #FFFFFF;
    margin-bottom: 0;
}
.copyright-a{
    font-size: 18px;
    font-weight: 500;
    color: #FFFFFF;
    text-decoration: none;
}

.copy-div-1{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.copy-div-2{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
  
.copy-div-2 a:hover{
    color: #FFFFFF;
}

.subject-style{
    font-size: 24px;
    color: #404040;
}

.subject-details-1{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.subject-details-2{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.apply-btn-style{
    border: 0;
    border-radius: 5px;
    background-color: #04A1E5;
    color: white;
    width: 110px;
    height: 48px;
}
.apply-btn-style-2{
    border: 0;
    border-radius: 5px;
    background-color: #B8B9BA;;
    color: white;
    width: 110px;
    height: 48px;
}
.details-btn-style{
    border: 1px solid #04A1E5;
    border-radius: 5px;
    background-color: white;
 
    color: #04A1E5;
    width: 110px;
    height: 48px;
}
.details-btn-style-2{
    border: 1px solid #B8B9BA;
    border-radius: 5px;
    background-color: white;
 
    color: #404040;
    width: 110px;
    height: 48px;
}

.course-cost-style-top{
    font-size: 18px;
    color: #404040
}
  
.course-cost-style{
    font-size: 18px;
    color: #757575;
}

.computing-span{
    color: #404040;
    font-weight: 400;
    font-size: 28px;
   
}

.border-radius-design{
    border-radius: 10px;
}

.sign-in-w{
    width: 35%;
    
    

    margin: 0 auto;
}

.stye-1{
    font-size: 36px;
    font-weight: 600;
    color: #000000;
}

.style-2{
    font-size: 18px;
    font-weight: 400;
    color: #000000;
}

.style-3{
    display: inline-block;
    font-size: 12px;
    font-weight: 500;
    margin-left: 5px;
}

.style-4{
    font-size: 13px;
    font-weight: 400;
    color: #000000
}


::placeholder {
    color: #5A5A5A;
    opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: #5A5A5A;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
   color: #5A5A5A;
  }

  .custom-input{
      border: 1px solid #D9D9D9;
      border-radius: 10px;
      width: 70%;
      display: inline-block;
  }
  .custom-input-1{
     
      width: 70%;
      display: flex;
      justify-content: space-between;
      margin: 0 auto;
    
  }

  .eye-img-position{
      position: relative;
      left: 200px;
      bottom: 50px;
 
  }

  /* toggle style */


  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 28px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }


  /*  */

.btn-style-1{
    background-color: #FFFFFF;
    border-radius: 5px;
    border: 1px solid  #276ABC;
}

.btn-style-2{
    background-color: #FFFFFF;
    border-radius: 5px;
    border: 1px solid  #DEDEDE;
}

.sign-in-style{
    background-color: #F5F7FF;
}


.label-2{
    font-size: 15px;
    font-weight: 400;
}

.recover-1{
    color:    #D93F21;
    font-size: 15px;
    font-weight: 300;
}

.login-w{
    width: 70%;
    border-radius: 10px;
    background-color: #FFFFFF;
    border: 1px solid #5A5A5A;
}

@media only screen and (max-width: 576px) {

    .eye-img-position{
        display: none;
    }

    .sign-in-w{
        width: 90%;
        
    
        margin: 0 auto;
    }


    .social-media-icons{
        justify-content: center;
    }
  
    
    .bg-div{
        text-align: center;
    }

    
.copy-div-1{
    display: flex;
    justify-content: center;
}

.copyright-p{
    font-size: 13px;
    
}
.copyright-a{
    font-size: 13px;
   
}

}



@media only screen and (max-width: 768px) {

.eye-img-position{

    display: none;
}

    .sign-in-w{
        width: 80%;
        
    
        margin: 0 auto;
    }

    .copyright-p{
        font-size: 16px;
        
    }
    .copyright-a{
        font-size: 16px;
       
    }
   

}

@media only screen and (max-width: 1300px) {

    .eye-img-position{

        display: none;
    }


}