body{
    margin: 0;
    padding: 0;
}

.btn-style{
    border-radius: 50px;
    border: 1px solid #2154AC;
    color: #2154AC;
}

.icon-style{
    color: #2154AC;
}



.homeMenuStye{
    color: #2154AC;
}

.navbar-font-size{
    font-size: 16px;
    font-weight: 500;
}

.sign-in-style{
    background-color: #F5F7FF;
}


.border-radius-design{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    
   
}



.extra-1{
    font-size: 14px;
    font-weight: 300;
    color: #000000;
}
.extra-2{
    font-size: 14px;
    font-weight: 500;
    color: #276ABC;
}

.terms{
    font-size: 14px;
    font-weight: 300;
    color: #5A5A5A;
}

.sign-in-w{
    width: 35%;
    
    

    margin: 0 auto;
}
.sign-in-w2{
    width: 100%;
    
    

  
}

.stye-1{
    font-size: 36px;
    font-weight: 600;
    color: #000000;
}

.style-2{
    font-size: 18px;
    font-weight: 400;
    color: #7E7E7E;
}

.style-3{
    display: inline-block;
    font-size: 12px;
    font-weight: 500;
    margin-left: 5px;
}

.style-4{
    font-size: 13px;
    font-weight: 400;
    color: #000000
}

::placeholder {
    color: #5A5A5A;
    opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: #5A5A5A;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
   color: #5A5A5A;
  }

  .custom-input{
      border: 1px solid #D9D9D9;
      border-radius: 10px;
      width: 70%;
      display: inline-block;
  }
  .custom-input-1{
     
      width: 70%;
      display: flex;
      justify-content: space-between;
      margin: 0 auto;
    
  }

  .eye-img-position{
    position: relative;
    left: 200px;
    bottom: 50px;

}

.btn-style-1{
    background-color: #FFFFFF;
    border-radius: 5px;
    border: 1px solid  #276ABC;
}

.btn-style-2{
    background-color: #FFFFFF;
    border-radius: 5px;
    border: 1px solid  #DEDEDE;
}

.login-w{
    width: 70%;
    border-radius: 10px;
    background-color: #276ABC;
    border: 1px solid #5A5A5A;
}
 
.bg-div{
    background-color: #052D72;
}

.footer{
    margin-bottom: 20px;
}

.footer p{
    font-weight: 600;
    font-size: 18px;
    color: #FFFFFF;


}

.footer span{
    font-size: 14px;
    font-weight: 400;
    color: #B8B8B8;
    
}

.footer a {
    text-decoration: none;
}

.social-media-icons{
    position: relative;
    margin-left: -10px;
    display: flex;
    flex-wrap: wrap;
  

}

.copyright-bg{
    background-color: #0D1766;
}

.copyright-p{
    font-size: 18px;
    font-weight: 500;
    color: #FFFFFF;
    margin-bottom: 0;
}
.copyright-a{
    font-size: 18px;
    font-weight: 500;
    color: #FFFFFF;
    text-decoration: none;
}

.copy-div-1{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.copy-div-2{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
  

.copy-div-2 a:hover{
    color: #FFFFFF;
}

@media only screen and (max-width: 576px) {

    .eye-img-position{
        display: none;
    }

    .sign-in-w{
        width: 90%;
        
    
        margin: 0 auto;
    }

    .style-4{
        text-align: center;
    }

    .before{
        display: none;
    }

    .after{
        display: none;
    }

    .copyright-p{
        text-align: center;
    }

    .social-media-icons{
        justify-content: center;
    }
  
    
    .bg-div{
        text-align: center;
    }

    
.copy-div-1{
    display: flex;
    justify-content: center;
}

.copyright-p{
    font-size: 13px;
    
}
.copyright-a{
    font-size: 13px;
   
}

}



@media only screen and (max-width: 768px) {

.eye-img-position{

    display: none;
}

    .sign-in-w{
        width: 80%;
        
    
        margin: 0 auto;
    }

    .copyright-p{
        font-size: 16px;
        
    }
    .copyright-a{
        font-size: 16px;
       
    }
   

}

@media only screen and (max-width: 1300px) {

    .eye-img-position{

        display: none;
    }


}

@media only screen and (max-width: 1737px) {

    .eye-img-position{

        position: relative;
        bottom: 50;
        left: 180px;


    }


}

@media only screen and (max-width: 1737px) {

    .eye-img-position{

        position: relative;
        bottom: 50;
        left: 160px;


    }


}
@media only screen and (max-width: 1737px) {

    .eye-img-position{

        position: relative;
        bottom: 50;
        left: 140px;


    }

    

}